<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="VSTS Tools Feed" value="https://marinaliu.pkgs.visualstudio.com/_packaging/new/nuget/v3/index.json" />
  </packageSources>
  <apikeys>
    <add key="https://marinaliu.pkgs.visualstudio.com/_packaging/new/nuget/v3/index.json" value="er5mxwzcnl3tplap3oqoo5ficnnbokbnzaoxaj3jdohdtmmhdbdq" />
  </apikeys>
</configuration>